
.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 60px;

}




.ant-layout-sider-collapsed .anticon {
    font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
    display: none;
}



.intro {
    width: 140px;
    height: 30px;
    margin: 0 16px ;
    float: left;
}
.logo{
    width: 63px;
    hight: 80px;
    float: right;
    margin:  -63px 9px;
    background: #ffffff;
    border-radius: 40px;
}